#replies-container.hidden {
  display: none;
}

/* indentation of replies */
#replies-container {
  margin-left: 10px;
}

.scene-number,
.ui-dialog-buttons .ui-dialog-buttonpane .ui-dialog-buttonset {
  color: #808286; /* $COLOR_130 */
  font-size: 0.8rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

/* margin of comment textarea while it's being edited */
.comment-description.editing {
  margin-top: 10px;
}

/* margin of reply textarea while it's being edited */
.reply-description.editing {
  margin-right: 10px;
}

.comment-description-body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 1.1rem;

  margin-top: 5px; /* margin of comment while it's not being edited */
  white-space: pre-wrap;
  word-break: break-word;
}

.ui-dialog-buttonset button:hover,
.ui-dialog-buttonset button:focus,
.ui-dialog-buttonset button {
  color: #19BBDA; /* $COLOR_A */
  cursor: pointer;
  background-color: transparent;
  border: none;
  border-radius: 0;
}

.ui-dialog-buttonset button:hover {
  text-decoration: underline;
}

/* override some default styles to adjust TO dialog to have buttons on the footer */
.ui-dialog .ui-dialog-buttonpane {
  margin: 0;
  padding: 10px;
}

.ui-dialog-buttons .ui-dialog-buttonpane .ui-dialog-buttonset {
  width: 100%;
}

.ui-dialog-buttons .ui-dialog-buttonpane .ui-dialog-buttonset button {
  padding: 0;
  margin: 0 20px 0 0;
}

.ui-dialog-buttons .ui-dialog-buttonpane .ui-dialog-buttonset .comment-date {
  float: right;
}

.new-reply--collapsed > .buttons-row{
  display: none;
}

.new-reply--collapsed textarea.reply-content--input {
  height: 2.1rem;
}

.new-reply {
  margin: 0 10px 10px 10px;
}

.new-reply > .buttons-row {
  margin: 10px 0;
  height: 20px;
}

/* hide commment/reply edit button by default */
.ui-dialog--comment .button--edit,
.reply-button--edit {
  display: none;
}

/* only show comment/reply edit button to the owner */
.ui-dialog--comment.comment-owner .button--edit,
.reply-owner-true .reply-button--edit {
  display: inline-flex;
}

.comment-reply .comment-author {
  border-top: 1px solid;
}
