<script src="../static/plugins/ep_comments_page/static/js/lib/jquery.tmpl.min.js"></script>
<script src="../static/plugins/ep_comments_page/static/js/lib/jquery-ui.min.js"></script>

<script id="closeButton" type="text/html">
  <span>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="-300.4 391.6 10.7 10.7" width="9px" height="9px">
      <polygon points="-290.4 391.6 -294.9 396.2 -299.6 391.6 -300.4 392.4 -295.8 397.1 -300.4 401.6 -299.6 402.4 -294.9 397.8 -290.4 402.4 -289.6 401.6 -294.2 397.1 -289.6 392.4 "/>
    </svg>
  </span>
</script>

<script id="newCommentTemplate" type="text/html">
  <form id="newComment">
    <div class="comment-author">
      <authoricon>${initials}</authoricon>
      <authorname>${name}</authorname>
    </div>
    <div class="comment-text">
      <textarea class="comment-content" autofocus placeholder="write here your comment" data-l10n-id="ep_comments_page.comments_template.comment.placeholder"></textarea>
    </div>
    <div class=" buttons-row comment-buttons">
      <input class="button button--save comment-button--save" type="submit" value="Save" data-l10n-id="ep_comments_page.comments_template.save.value" />
    </div>
  </form>
</script>

<script id="replies-info-template" type="text/html">
  <div>
    {{each replies}}
      <div class="replyId-${replyId}">
        <div class="reply-description">
          <div class="reply-description-body">${text}</div>
        </div>

        <div class="buttons-row reply-buttons">
          <input
            class="reply-button--edit"
            type="submit"
            value="Edit"
            data-comment-id=${commentId}
            data-reply-id=${replyId}
            data-l10n-id="ep_comments_page.comments_template.edit"
          />
          <input
            class="reply-button--delete"
            type="submit"
            value="Delete"
            data-comment-id=${commentId}
            data-reply-id=${replyId}
            data-l10n-id="ep_comments_page.comments_template.delete" />
          </div>
      </div>
    {{/each}}
  </div>
</script>

<script id="edit-reply-template" type="text/html">
  <div>
    <form class="for-reply" id="edit-reply-${replyId}">
      <div class="comment-description">
        <textarea
          id="reply-description"
          placeholder="describe the reply"
          data-l10n-id="ep_comments_page.edit_reply_template.description.placeholder"
        >${text}</textarea>
      </div>
      <div class="buttons-row comment-buttons">
        <input
          class="button button--save reply-button--save"
          type="submit"
          value="Save"
          data-comment-id=${commentId}
          data-reply-id=${replyId}
          data-l10n-id="ep_script_touches.new_tag_occurrence_template.save.value"
        />
      </div>
    </form>
  </div>
</script>

<script id="commment-info-template" type="text/html">
  <div>
    <div id="text-mark-info">
      <div class="comment-description">
        <div class="comment-description-body">${description}</div>
      </div>
    </div>
  </div>
</script>

<script id="edit-comment-template" type="text/html">
  <div>
    <form class="for-comment" id="${formId}">
      <div class="comment-description">
        <textarea
          id="comment-description"
          placeholder="describe the comment"
          data-l10n-id="ep_script_touches.new_tag_occurrence_template.description.placeholder"
        >${description}</textarea>
      </div>
      <div class="buttons-row comment-buttons">
        <input
          class="button button--save comment-button--save"
          type="submit"
          value="Save"
          data-l10n-id="ep_script_touches.new_tag_occurrence_template.save.value"
        />
      </div>
    </form>
  </div>
</script>
