<script id="closeButton" type="text/html">
  <span>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="-300.4 391.6 10.7 10.7" width="9px" height="9px">
      <polygon points="-290.4 391.6 -294.9 396.2 -299.6 391.6 -300.4 392.4 -295.8 397.1 -300.4 401.6 -299.6 402.4 -294.9 397.8 -290.4 402.4 -289.6 401.6 -294.2 397.1 -289.6 392.4 "/>
    </svg>
  </span>
</script>

<script id="newCommentTemplate" type="text/html">
  <form id="newComment">
    <div class="comment-author">
      <authoricon>${initials}</authoricon>
      <authorname>${name}</authorname>
    </div>
    <div class="comment-text">
      <textarea class="comment-content" placeholder="write here your comment" data-l10n-id="ep_comments_page.comments_template.comment.placeholder"></textarea>
    </div>
    <div class=" buttons-row comment-buttons">
      <input class="button button--save comment-button--save" type="submit" value="Save" data-l10n-id="ep_comments_page.comments_template.save.value" />
    </div>
  </form>
</script>

<script id="replies-info-template" type="text/html">
  <div>
    {{each replies}}
      <div class="replyId-${replyId} reply-owner-${isOwner}">
        <div class="comment-reply ui-dialog-content">
          <div class="comment-author">
            <authoricon>${initials}</authoricon>
            <authorname>${name}</authorname>
          </div>
          <div class="comment-description-body comment-reply-body">${text}</div>
        </div>
        <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
            <div class="ui-dialog-buttonset reply-comment-buttons">
              <button
                class="reply-button--edit"
                type="submit"
                value="Edit"
                data-comment-id=${commentId}
                data-reply-id=${replyId}
                data-l10n-id="ep_comments_page.comments_template.edit"
              />
              <button
                class="reply-button--delete"
                type="submit"
                value="Delete"
                data-comment-id=${commentId}
                data-reply-id=${replyId}
                data-l10n-id="ep_comments_page.comments_template.delete"
              />
              <div class="comment-date"><span>${prettyDate}</span></div>
            </div>
          </div>
      </div>
    {{/each}}
  </div>
</script>

<script id="edit-reply-template" type="text/html">
  <div>
    <form class="for-reply" id="edit-reply-${replyId}">
      <div class="comment-description reply-description editing ">
        <textarea
          id="reply-description"
          placeholder="describe the reply"
          data-l10n-id="ep_comments_page.edit_reply_template.description.placeholder"
        >${text}</textarea>
        <div class="buttons-row reply-comment-buttons">
          <input
            class="button button--save reply-button--save"
            type="submit"
            value="Save"
            data-comment-id=${commentId}
            data-reply-id=${replyId}
            data-l10n-id="ep_comments_page.comments_template.save"
          />
          <input
            class="button button--cancel reply-button--cancel"
            type="submit"
            value="Cancel"
            data-comment-id=${commentId}
            data-reply-id=${replyId}
            data-l10n-id="ep_comments_page.comments_template.cancel"
          />
        </div>
      </div>
    </form>
  </div>
</script>

<script id="commment-info-template" type="text/html">
  <div>
    <div id="text-mark-info">
      <div class="comment-author">
        <authoricon>${initials}</authoricon>
        <authorname>${author}</authorname>
        <div
          data-l10n-id="ep_comments_page.comments_template.scene"
          data-l10n-args='{"sceneNumber": "${sceneNumber}"}'
          class="scene-number"
        ></div>
      </div>
      <div class="comment-description-body">${description}</div>
    </div>
  </div>
</script>

<script id="edit-comment-template" type="text/html">
  <div>
    <form class="for-comment" id="${formId}">
      <div class="comment-author">
        <authoricon>${initials}</authoricon>
        <authorname>${author}</authorname>
      </div>
      <div class="comment-description editing">
        <textarea
          id="comment-description"
          placeholder="describe the comment"
          data-l10n-id="ep_comments_page.comments_template.comment.placeholder"
        >${description}</textarea>
        <div class="buttons-row comment-buttons">
          <input
            class="button button--save comment-button--save"
            type="submit"
            value="Save"
            data-l10n-id="ep_comments_page.comments_template.save"
          />
          <input
            class="button button--cancel comment-button--cancel"
            type="submit"
            value="Cancel"
            data-comment-id=${commentId}
            data-reply-id=${replyId}
            data-l10n-id="ep_comments_page.comments_template.cancel"
          />
        </div>
      </div>
    </form>
  </div>
</script>

<script id="new-reply-template" type="text/html">
  <form id="newReply" class="new-reply new-reply--collapsed">
    <div class="reply-text">
      <textarea class="reply-content--input" placeholder="write here your reply" data-l10n-id="ep_comments_page.edit_reply_template.description.placeholder"></textarea>
    </div>
    <div class="buttons-row reply-comment-buttons">
      <input class="button button--save add-reply-button--save"
        type="submit"
        value="Save"
        data-l10n-id="ep_comments_page.comments_template.save.value"
        data-comment-id=${commentId}
      />
      <input
        class="button button--cancel add-reply-button--cancel"
        type="button"
        value="Cancel"
        data-l10n-id="ep_comments_page.comments_template.cancel"
        data-comment-id=${commentId}
      />
    </div>
  </form>
</script>
